	<meta charset="utf-8">
	<title>NBAFORUM篮球社区</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="NBAFORUM,FREEDOM">
    <meta name="keywords" content="nbaForum">
	<meta name="author" content="xpin_1509@163.com" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="shortcut icon" type="text/css"  href="/images/favicon.ico"/>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<!--[if lt IE 9]>
  	<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  	<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->