
<html op="news">

<head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/new.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
    <title>Hacker News</title>
</head>

<body>
    <center>
        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tr>
                <td bgcolor="#ff6600">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                        <tr>
                            <td style="width:18px;padding-right:4px">
                                <a href="http://www.ycombinator.com"><img src="static/image/y18.gif" width="18" height="18" style="border:1px white solid;"></a>
                            </td>
                            <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="news">Hacker News</a></b>
              <a href="newest">new</a> | <a href="newcomments">comments</a> | <a href="show">show</a> | <a href="ask">ask</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>            </span></td>
                            <td style="text-align:right;padding-right:4px;"><span class="pagetop">
                              <a href="login">login</a>
                          </span></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height:10px"></tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                        <tr class='athing' id='14422159'>
                            <td align="right" valign="top" class="title"><span class="rank">1.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14422159' href='vote?id=14422159&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://twitter.com/eric01/status/867473461836263424" class="storylink">Coroutines are now in Clang trunk, libc++</a><span class="sitebit comhead"> (<a href="from?site=twitter.com"><span class="sitestr">twitter.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14422159">70 points</span> by <a href="user?id=davedx" class="hnuser">davedx</a> <span class="age"><a href="item?id=14422159">1 hour ago</a></span> <span id="unv_14422159"></span> | <a href="hide?id=14422159&amp;goto=news">hide</a> | <a href="item?id=14422159">14&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14421811'>
                            <td align="right" valign="top" class="title"><span class="rank">2.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14421811' href='vote?id=14421811&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://www.nasa.gov/press-release/a-whole-new-jupiter-first-science-results-from-nasa-s-juno-mission" class="storylink">A Whole New Jupiter: First Science Results from NASA’s Juno Mission</a><span class="sitebit comhead"> (<a href="from?site=nasa.gov"><span class="sitestr">nasa.gov</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14421811">60 points</span> by <a href="user?id=rgbrenner" class="hnuser">rgbrenner</a> <span class="age"><a href="item?id=14421811">4 hours ago</a></span> <span id="unv_14421811"></span> | <a href="hide?id=14421811&amp;goto=news">hide</a> | <a href="item?id=14421811">4&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14421886'>
                            <td align="right" valign="top" class="title"><span class="rank">3.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14421886' href='vote?id=14421886&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://devuan.org/os/debian-fork/stable-jessie-announce-052517" class="storylink">Devuan Jessie 1.0.0 stable release (LTS)</a><span class="sitebit comhead"> (<a href="from?site=devuan.org"><span class="sitestr">devuan.org</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14421886">44 points</span> by <a href="user?id=walterbell" class="hnuser">walterbell</a> <span class="age"><a href="item?id=14421886">3 hours ago</a></span> <span id="unv_14421886"></span> | <a href="hide?id=14421886&amp;goto=news">hide</a> | <a href="item?id=14421886">10&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14418877'>
                            <td align="right" valign="top" class="title"><span class="rank">4.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14418877' href='vote?id=14418877&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://mikecanex.wordpress.com/2012/12/26/1922-why-i-quit-being-so-accommodating/" class="storylink">Why I Quit Being So Accommodating (1922)</a><span class="sitebit comhead"> (<a href="from?site=mikecanex.wordpress.com"><span class="sitestr">mikecanex.wordpress.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14418877">604 points</span> by <a href="user?id=Tomte" class="hnuser">Tomte</a> <span class="age"><a href="item?id=14418877">13 hours ago</a></span> <span id="unv_14418877"></span> | <a href="hide?id=14418877&amp;goto=news">hide</a> | <a href="item?id=14418877">226&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416530'>
                            <td align="right" valign="top" class="title"><span class="rank">5.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416530' href='vote?id=14416530&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://github.com/tonybeltramelli/pix2code" class="storylink">Pix2code: Generating Code from a Graphical User Interface Screenshot</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416530">129 points</span> by <a href="user?id=visarga" class="hnuser">visarga</a> <span class="age"><a href="item?id=14416530">7 hours ago</a></span> <span id="unv_14416530"></span> | <a href="hide?id=14416530&amp;goto=news">hide</a> | <a href="item?id=14416530">28&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14421215'>
                            <td align="right" valign="top" class="title"><span class="rank">6.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14421215' href='vote?id=14421215&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://chadaustin.me/2017/05/writing-a-really-really-fast-json-parser/" class="storylink">Writing a Fast JSON Parser</a><span class="sitebit comhead"> (<a href="from?site=chadaustin.me"><span class="sitestr">chadaustin.me</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14421215">136 points</span> by <a href="user?id=jsheard" class="hnuser">jsheard</a> <span class="age"><a href="item?id=14421215">7 hours ago</a></span> <span id="unv_14421215"></span> | <a href="hide?id=14421215&amp;goto=news">hide</a> | <a href="item?id=14421215">18&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14420084'>
                            <td align="right" valign="top" class="title"><span class="rank">7.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14420084' href='vote?id=14420084&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://github.com/datproject/docs/blob/master/papers/dat-paper.md" class="storylink">Dat – Distributed Dataset Synchronization and Versioning</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14420084">164 points</span> by <a href="user?id=ColinWright" class="hnuser">ColinWright</a> <span class="age"><a href="item?id=14420084">10 hours ago</a></span> <span id="unv_14420084"></span> | <a href="hide?id=14420084&amp;goto=news">hide</a> | <a href="item?id=14420084">20&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14421527'>
                            <td align="right" valign="top" class="title"><span class="rank">8.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14421527' href='vote?id=14421527&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://a16z.com/2017/05/24/on-firing-why-when-how/" class="storylink">It's Never Too Early to Fire</a><span class="sitebit comhead"> (<a href="from?site=a16z.com"><span class="sitestr">a16z.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14421527">65 points</span> by <a href="user?id=jbyers" class="hnuser">jbyers</a> <span class="age"><a href="item?id=14421527">5 hours ago</a></span> <span id="unv_14421527"></span> | <a href="hide?id=14421527&amp;goto=news">hide</a> | <a href="item?id=14421527">38&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14417758'>
                            <td align="right" valign="top" class="title"><span class="rank">9.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14417758' href='vote?id=14417758&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="item?id=14417758" class="storylink">Ask HN: I don't want to be a founder anymore</a></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14417758">362 points</span> by <a href="user?id=throwaway10595" class="hnuser">throwaway10595</a> <span class="age"><a href="item?id=14417758">13 hours ago</a></span> <span id="unv_14417758"></span> | <a href="hide?id=14417758&amp;goto=news">hide</a> | <a href="item?id=14417758">304&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14419353'>
                            <td align="right" valign="top" class="title"><span class="rank">10.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14419353' href='vote?id=14419353&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://www.twilio.com/blog/2017/05/introducing-twilio-functions.html" class="storylink">Twilio Functions – Public Beta</a><span class="sitebit comhead"> (<a href="from?site=twilio.com"><span class="sitestr">twilio.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14419353">214 points</span> by <a href="user?id=tcsf" class="hnuser">tcsf</a> <span class="age"><a href="item?id=14419353">12 hours ago</a></span> <span id="unv_14419353"></span> | <a href="hide?id=14419353&amp;goto=news">hide</a> | <a href="item?id=14419353">77&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14421095'>
                            <td align="right" valign="top" class="title"><span class="rank">11.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14421095' href='vote?id=14421095&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="http://www.latimes.com/business/autos/la-fi-hy-tesla-workplace-safety-20170524-story.html" class="storylink">Safety incidents at Tesla plant were higher than industry average in 2015</a><span class="sitebit comhead"> (<a href="from?site=latimes.com"><span class="sitestr">latimes.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14421095">48 points</span> by <a href="user?id=JumpCrisscross" class="hnuser">JumpCrisscross</a> <span class="age"><a href="item?id=14421095">7 hours ago</a></span> <span id="unv_14421095"></span> | <a href="hide?id=14421095&amp;goto=news">hide</a> | <a href="item?id=14421095">50&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14422389'>
                            <td align="right" valign="top" class="title"><span class="rank">12.</span></td>
                            <td></td>
                            <td class="title"><a href="https://jobs.lever.co/mattermark/d5e404dd-fc1b-4238-b6d3-22b0abcc9099" class="storylink" rel="nofollow">Mattermark (YC S12) Is Hiring a Full Stack Engineer to Work from Anywhere</a><span class="sitebit comhead"> (<a href="from?site=lever.co"><span class="sitestr">lever.co</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="age"><a href="item?id=14422389">46 minutes ago</a></span> | <a href="hide?id=14422389&amp;goto=news">hide</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14418774'>
                            <td align="right" valign="top" class="title"><span class="rank">13.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14418774' href='vote?id=14418774&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://community.letsencrypt.org/t/may-19-2017-ocsp-and-issuance-outage-postmortem/34922" class="storylink">Let's Encrypt OCSP and Issuance Outage Postmortem</a><span class="sitebit comhead"> (<a href="from?site=letsencrypt.org"><span class="sitestr">letsencrypt.org</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14418774">186 points</span> by <a href="user?id=agrajag" class="hnuser">agrajag</a> <span class="age"><a href="item?id=14418774">13 hours ago</a></span> <span id="unv_14418774"></span> | <a href="hide?id=14418774&amp;goto=news">hide</a> | <a href="item?id=14418774">18&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14417340'>
                            <td align="right" valign="top" class="title"><span class="rank">14.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14417340' href='vote?id=14417340&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://github.com/ory/editor?branch=master" class="storylink">Show HN: ORY Editor – A rich editor for the browser, built with React and Redux</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14417340">318 points</span> by <a href="user?id=jswizzard" class="hnuser">jswizzard</a> <span class="age"><a href="item?id=14417340">17 hours ago</a></span> <span id="unv_14417340"></span> | <a href="hide?id=14417340&amp;goto=news">hide</a> | <a href="item?id=14417340">84&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416335'>
                            <td align="right" valign="top" class="title"><span class="rank">15.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416335' href='vote?id=14416335&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="http://www.lihaoyi.com/Ammonite/" class="storylink">Ammonite: Scala Scripting</a><span class="sitebit comhead"> (<a href="from?site=lihaoyi.com"><span class="sitestr">lihaoyi.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416335">63 points</span> by <a href="user?id=lihaoyi" class="hnuser">lihaoyi</a> <span class="age"><a href="item?id=14416335">8 hours ago</a></span> <span id="unv_14416335"></span> | <a href="hide?id=14416335&amp;goto=news">hide</a> | <a href="item?id=14416335">18&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416137'>
                            <td align="right" valign="top" class="title"><span class="rank">16.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416137' href='vote?id=14416137&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://blog.openai.com/openai-baselines-dqn/" class="storylink">OpenAI Baselines</a><span class="sitebit comhead"> (<a href="from?site=openai.com"><span class="sitestr">openai.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416137">186 points</span> by <a href="user?id=astdb" class="hnuser">astdb</a> <span class="age"><a href="item?id=14416137">15 hours ago</a></span> <span id="unv_14416137"></span> | <a href="hide?id=14416137&amp;goto=news">hide</a> | <a href="item?id=14416137">33&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14421062'>
                            <td align="right" valign="top" class="title"><span class="rank">17.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14421062' href='vote?id=14421062&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="http://www.latimes.com/science/sciencenow/la-sci-sn-whale-evolution-20170523-story.html" class="storylink">Why Whales, the largest animals on Earth, got so big</a><span class="sitebit comhead"> (<a href="from?site=latimes.com"><span class="sitestr">latimes.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14421062">51 points</span> by <a href="user?id=JumpCrisscross" class="hnuser">JumpCrisscross</a> <span class="age"><a href="item?id=14421062">7 hours ago</a></span> <span id="unv_14421062"></span> | <a href="hide?id=14421062&amp;goto=news">hide</a> | <a href="item?id=14421062">19&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416139'>
                            <td align="right" valign="top" class="title"><span class="rank">18.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416139' href='vote?id=14416139&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="http://www.itsnicethat.com/features/tekinkia-molodezhi-russian-sci-fi-barbican-into-the-unknown-160517" class="storylink">A Soviet vision of the future: the legacy and influence of Tekhikia–Molodezhi</a><span class="sitebit comhead"> (<a href="from?site=itsnicethat.com"><span class="sitestr">itsnicethat.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416139">40 points</span> by <a href="user?id=sohkamyung" class="hnuser">sohkamyung</a> <span class="age"><a href="item?id=14416139">7 hours ago</a></span> <span id="unv_14416139"></span> | <a href="hide?id=14416139&amp;goto=news">hide</a> | <a href="item?id=14416139">8&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416521'>
                            <td align="right" valign="top" class="title"><span class="rank">19.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416521' href='vote?id=14416521&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://www.theatlantic.com/science/archive/2017/05/flamingos-one-leg/527781/?single_page=true" class="storylink">Why Flamingos Are More Stable on One Leg Than Two</a><span class="sitebit comhead"> (<a href="from?site=theatlantic.com"><span class="sitestr">theatlantic.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416521">85 points</span> by <a href="user?id=Sujan" class="hnuser">Sujan</a> <span class="age"><a href="item?id=14416521">11 hours ago</a></span> <span id="unv_14416521"></span> | <a href="hide?id=14416521&amp;goto=news">hide</a> | <a href="item?id=14416521">24&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416654'>
                            <td align="right" valign="top" class="title"><span class="rank">20.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416654' href='vote?id=14416654&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://arstechnica.com/science/2017/05/for-4500-years-stone-age-humans-returned-to-this-mysterious-cave/" class="storylink">45000 years ago in Ethiopia humans built a paint workshop; used it for millennia</a><span class="sitebit comhead"> (<a href="from?site=arstechnica.com"><span class="sitestr">arstechnica.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416654">168 points</span> by <a href="user?id=xaedes" class="hnuser">xaedes</a> <span class="age"><a href="item?id=14416654">16 hours ago</a></span> <span id="unv_14416654"></span> | <a href="hide?id=14416654&amp;goto=news">hide</a> | <a href="item?id=14416654">37&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14418013'>
                            <td align="right" valign="top" class="title"><span class="rank">21.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14418013' href='vote?id=14418013&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://lambdaisland.com/blog/25-05-2017-simple-and-happy-is-clojure-dying-and-what-has-ruby-got-to-do-with-it" class="storylink">Is Clojure dying, and what has Ruby got to do with it?</a><span class="sitebit comhead"> (<a href="from?site=lambdaisland.com"><span class="sitestr">lambdaisland.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14418013">193 points</span> by <a href="user?id=tosh" class="hnuser">tosh</a> <span class="age"><a href="item?id=14418013">15 hours ago</a></span> <span id="unv_14418013"></span> | <a href="hide?id=14418013&amp;goto=news">hide</a> | <a href="item?id=14418013">175&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416411'>
                            <td align="right" valign="top" class="title"><span class="rank">22.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416411' href='vote?id=14416411&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://queue.acm.org/detail.cfm?id=3096459&amp;__s=dnkxuaws9pogqdnxmx8i" class="storylink">The Calculus of Service Availability</a><span class="sitebit comhead"> (<a href="from?site=acm.org"><span class="sitestr">acm.org</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416411">51 points</span> by <a href="user?id=kiyanwang" class="hnuser">kiyanwang</a> <span class="age"><a href="item?id=14416411">10 hours ago</a></span> <span id="unv_14416411"></span> | <a href="hide?id=14416411&amp;goto=news">hide</a> | <a href="item?id=14416411">1&nbsp;comment</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14417315'>
                            <td align="right" valign="top" class="title"><span class="rank">23.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14417315' href='vote?id=14417315&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://www.w3.org/TR/activitypub/" class="storylink">ActivityPub: a federated social web standard</a><span class="sitebit comhead"> (<a href="from?site=w3.org"><span class="sitestr">w3.org</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14417315">163 points</span> by <a href="user?id=paroneayea" class="hnuser">paroneayea</a> <span class="age"><a href="item?id=14417315">17 hours ago</a></span> <span id="unv_14417315"></span> | <a href="hide?id=14417315&amp;goto=news">hide</a> | <a href="item?id=14417315">46&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416711'>
                            <td align="right" valign="top" class="title"><span class="rank">24.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416711' href='vote?id=14416711&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="http://lambda-the-ultimate.org/node/5435" class="storylink">Databases from finite categories</a><span class="sitebit comhead"> (<a href="from?site=lambda-the-ultimate.org"><span class="sitestr">lambda-the-ultimate.org</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416711">29 points</span> by <a href="user?id=mpweiher" class="hnuser">mpweiher</a> <span class="age"><a href="item?id=14416711">7 hours ago</a></span> <span id="unv_14416711"></span> | <a href="hide?id=14416711&amp;goto=news">hide</a> | <a href="item?id=14416711">5&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416435'>
                            <td align="right" valign="top" class="title"><span class="rank">25.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416435' href='vote?id=14416435&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="http://psisolver.org/" class="storylink">PSI Solver: Exact Inference for Probabilistic Programs</a><span class="sitebit comhead"> (<a href="from?site=psisolver.org"><span class="sitestr">psisolver.org</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416435">34 points</span> by <a href="user?id=leephillips" class="hnuser">leephillips</a> <span class="age"><a href="item?id=14416435">9 hours ago</a></span> <span id="unv_14416435"></span> | <a href="hide?id=14416435&amp;goto=news">hide</a> | <a href="item?id=14416435">3&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14420972'>
                            <td align="right" valign="top" class="title"><span class="rank">26.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14420972' href='vote?id=14420972&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://andreasgal.com/2017/05/25/chrome-won/" class="storylink">Chrome Won</a><span class="sitebit comhead"> (<a href="from?site=andreasgal.com"><span class="sitestr">andreasgal.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14420972">207 points</span> by <a href="user?id=fabrice_d" class="hnuser">fabrice_d</a> <span class="age"><a href="item?id=14420972">7 hours ago</a></span> <span id="unv_14420972"></span> | <a href="hide?id=14420972&amp;goto=news">hide</a> | <a href="item?id=14420972">244&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14415424'>
                            <td align="right" valign="top" class="title"><span class="rank">27.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14415424' href='vote?id=14415424&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="http://www.openculture.com/2017/05/visit-a-new-digital-archive-of-2-2-million-images-from-the-first-hundred-years-of-photography.html" class="storylink">A New Digital Archive of 2.2M Images from Photography's First 100 Years</a><span class="sitebit comhead"> (<a href="from?site=openculture.com"><span class="sitestr">openculture.com</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14415424">98 points</span> by <a href="user?id=prismatic" class="hnuser">prismatic</a> <span class="age"><a href="item?id=14415424">17 hours ago</a></span> <span id="unv_14415424"></span> | <a href="hide?id=14415424&amp;goto=news">hide</a> | <a href="item?id=14415424">6&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416420'>
                            <td align="right" valign="top" class="title"><span class="rank">28.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416420' href='vote?id=14416420&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="https://reagent-project.github.io" class="storylink">Reagent: Minimalistic React for ClojureScript</a><span class="sitebit comhead"> (<a href="from?site=reagent-project.github.io"><span class="sitestr">reagent-project.github.io</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416420">70 points</span> by <a href="user?id=tosh" class="hnuser">tosh</a> <span class="age"><a href="item?id=14416420">13 hours ago</a></span> <span id="unv_14416420"></span> | <a href="hide?id=14416420&amp;goto=news">hide</a> | <a href="item?id=14416420">10&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14416670'>
                            <td align="right" valign="top" class="title"><span class="rank">29.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14416670' href='vote?id=14416670&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="http://blogs.berkeley.edu/2017/05/23/jumpstarting-the-market-for-accessory-dwelling-units/" class="storylink">Jumpstarting the Market for Accessory Dwelling Units</a><span class="sitebit comhead"> (<a href="from?site=berkeley.edu"><span class="sitestr">berkeley.edu</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14416670">15 points</span> by <a href="user?id=frgtpsswrdlame" class="hnuser">frgtpsswrdlame</a> <span class="age"><a href="item?id=14416670">7 hours ago</a></span> <span id="unv_14416670"></span> | <a href="hide?id=14416670&amp;goto=news">hide</a> | <a href="item?id=14416670">3&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class='athing' id='14421985'>
                            <td align="right" valign="top" class="title"><span class="rank">30.</span></td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id='up_14421985' href='vote?id=14421985&amp;how=up&amp;goto=news'>
                                        <div class='votearrow' title='upvote'></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title"><a href="item?id=14421985" class="storylink">Ask HN: Do you ask to use cookies or check IP?</a></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_14421985">16 points</span> by <a href="user?id=ge96" class="hnuser">ge96</a> <span class="age"><a href="item?id=14421985">3 hours ago</a></span> <span id="unv_14421985"></span> | <a href="hide?id=14421985&amp;goto=news">hide</a> | <a href="item?id=14421985">20&nbsp;comments</a> </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <tr class="morespace" style="height:10px"></tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="title"><a href="news?p=2" class="morelink" rel="nofollow">More</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><img src="s.gif" height="10" width="0">
                    <table width="100%" cellspacing="0" cellpadding="1">
                        <tr>
                            <td bgcolor="#ff6600"></td>
                        </tr>
                    </table>
                    <br>
                    <center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="lists">Lists</a>
        | <a href="bookmarklet.html">Bookmarklet</a>
        | <a href="dmca.html">DMCA</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span>
                        <br>
                        <br>
                        <form method="get" action="//hn.algolia.com/">Search:
                            <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
                        </form>
                    </center>
                </td>
            </tr>
        </table>
    </center>
</body>
<script type='text/javascript' src='statcic/js/index.js'></script>

</html>
